.banner-limite-s{
    background-image: url('../../../../public/assets/banner-sobre.png');
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center center;
        height: 900px;
    
}

.banner-limite-s h1 {
    margin: 0px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
    height: 1024px;
    
    font-size: 85px;

    color: #fff;
    text-shadow: rgb(57, 53, 53) 0.1em 0.1em 0.2em;
}
.secao-sobre{
    text-align: center;
}
.secao-sobre h2 {
    margin-top: 20px;
    font-size: 40px;
    margin-bottom: 0;
}
.secao-sobre span{
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}
.secao-sobre-text{
    max-width: 1024px;
    margin: 0 auto;
}

.imagem img{
    margin-bottom: 0px;
    margin-top: 30px;
    height: 38vh;
    width: 38vh;
}


@media screen and (max-width: 320px) {
    .imagem img {
            width: auto;
            margin-top: 0;  
    }
}