footer{
    background-color: black;
    width: 100%;
    padding-top: 70px;
}
.limite-secao{
    max-width: 1024px;
    margin: 0 auto;
    color: white;
}
figure img {
    width: 200px;
}
.footer-descricao{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.desenvolvedor {
    padding-top: 90px;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    .footer-descricao{
        flex-direction: column;
        text-align: center;
    }
    .footer-descricao h3{
        padding-top: 20px;
    }

    .desenvolvedor {
        text-align: center;
    }
}
